.App {
  width: 360px;
  height: 430px;
  background-color: #e5e9e2;
  border-radius: 20px;
  border: 10px solid #b1c49c00;
  margin: auto auto;
  padding: 2em 4em 1em;
  font-family: sans-serif;
  text-align: center;
  transition: 0.8s ease-in-out;
  position: relative;
}

.yeah {
  border: 10px solid #b1c49c;
}

.boxs {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 2em;
}

.box {
  width: 60px;
  height: 60px;
  background-color: #ccc;
  font-size: 50px;
  color: #000;
  font-weight: bold;
}

.correct {
  background-color: #91ad70;
}

.include {
  background-color: #e2943b;
}

.exclude {
  background-color: #bbb;
}

@media screen and (max-width: 500px) {
  .App {
    width: 60vw;
    height: 480px;
    margin: 1em;
    padding: 2em 1em 1em;
  }
}

@media (prefers-color-scheme: dark) {
  .App {
    background-color: #cdd0cb;
  }
  .yeah {
    border: 10px solid #9ab180;
  }
  .box {
    background-color: #bbb;
  }
  .correct {
    background-color: #91ad70;
  }
  .include {
    background-color: #e2943b;
  }
  .exclude {
    background-color: #aaa;
  }
}