:root {
  color: rgba(68, 68, 68, 0.87);
  background-color: #dfdfdf;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

.btn {
  width: 100px;
  height: 30px;
  margin: 1em auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  border: 0;
  border-radius: 5px;
  transition: 0.8s ease-in-out;
  background-color: #ccc;
  color: rgba(68, 68, 68, 0.87);
}

.reset {
  background-color: #b1c49c;
}

.reset:hover {
  background-color: #91ad70;
}

.answer {
  background-color: #bbb;
}

.answer:hover {
  background-color: #ae7373;
}

.answer p {
  font-weight: bold;
  font-size: 12px;
}

#show {
  display: none;
}

.show-ans {
  margin-top: 1em;
  font-weight: bold;
  font-size: 12px;
  color: #816159;
  opacity: 0;
}

#show:checked ~ label {
  background-color: #ae7373;
}

#show:checked ~ .show-ans {
  transition: 0.8s ease-in-out;
  opacity: 1;
}

.foot {
  margin: 0;
  padding: 0.5em 0;
  font-size: 10px;
  font-weight: bold;
  color: #bbb;
  transition: 0.8s ease-in-out;
}
#info {
  margin: 3px auto 0;
  width: 2em;
  font-size: 15px;
}

.foot:hover {
  color: #999;
}

.explain {
  margin: 0;
  padding: 30px 20px;
  width: 300px;
  height: 250px;
  position: absolute;
  top: 60px;
  left: calc(10px + 4em);
  color: rgba(68, 68, 68, 0.87);
  background-color: #c0c5bc;
  border-radius: 20px;
  opacity: 0;
  transition: 0.8s ease-in-out;
  z-index: -1;
}

.explain p {
  text-align: justify;
  margin: 0;
  padding: 0.2em 2.5em;
  line-height: 1.2em;
  font-size: 16px;
}

.explain p:first-child {
  margin-bottom: 0.5em;
}

#info:hover + .explain {
  opacity: 1;
  z-index: 1;
}

#kb {
  width: 90%;
  height: 70px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 5%;
  top: 35%;
  border: 0;
  opacity: 0;
  z-index: -2;
}

@media screen and (max-width:767px) {
  #kb {
    z-index: 2;
  }
  .explain {
    width: 90%;
    height: 300px;
    top: 10%;
    left: 5%;
    padding: 2em 0 1em;
  }
  .explain p {
    padding: 0.2em 1em;
  }
}