:root {
  color: rgba(68, 68, 68, 0.87);
  background-color: #dfdfdf;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

.btn {
  width: 100px;
  height: 30px;
  margin: 1em auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  border: 0;
  border-radius: 5px;
  transition: 0.8s ease-in-out;
  background-color: #ccc;
}

.reset {
  background-color: #b1c49c;
}

.reset:hover {
  background-color: #91ad70;
}

.answer {
  background-color: #bbb;
}

.answer:hover {
  background-color: #ae7373;
}

.answer p {
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

#show {
  display: none;
}

.show-ans {
  margin-top: 1em;
  font-weight: bold;
  font-size: 12px;
  color: #816159;
  opacity: 0;
  transition: 0.8s ease-in-out;
}

#show:checked ~ label {
  background-color: #ae7373;
}

#show:checked ~ .show-ans {
  opacity: 1;
}

.foot {
  margin: 0;
  padding: 1em 0 1em;
  font-size: 10px;
  font-weight: bold;
  color: #bbb;
}